@model CidadeUnida.Models.Contato

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="text-3xl font-bold text-center mb-6">Detalhes do Contato</h1>

<div class="bg-white shadow-lg rounded-lg p-6 mb-6">
    <h4 class="text-xl font-semibold text-gray-800 mb-4">Contato</h4>
    <hr class="mb-4" />
    <dl class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
            <dt class="text-gray-600 font-semibold">ID:</dt>
            <dd class="text-gray-800">@Html.DisplayFor(model => model.IdContato)</dd>
        </div>

        <div class="flex flex-col">
            <dt class="text-gray-600 font-semibold">Nome:</dt>
            <dd class="text-gray-800">@Html.DisplayFor(model => model.NomeRemetente)</dd>
        </div>

        <div class="flex flex-col">
            <dt class="text-gray-600 font-semibold">Email:</dt>
            <dd class="text-gray-800">@Html.DisplayFor(model => model.EmailRemetente)</dd>
        </div>

        <div class="flex flex-col">
            <dt class="text-gray-600 font-semibold">Mensagem:</dt>
            <dd class="text-gray-800">@Html.DisplayFor(model => model.Mensagem)</dd>
        </div>

        <div class="flex flex-col">
            <dt class="text-gray-600 font-semibold">Data de Envio:</dt>
            <dd class="text-gray-800">@Html.DisplayFor(model => model.DataEnvio)</dd>
        </div>
    </dl>
</div>

<div class="flex space-x-4">
    <a asp-action="Edit" asp-controller="Contato" asp-route-id="@Model.IdContato" class="text-blue-500 hover:underline">Editar</a>
    <a asp-action="Index" asp-controller="Contato" class="text-gray-500 hover:underline">Voltar para a Lista</a>
</div>
